/*==========
  CSS RESET
=============*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*==========
  CSS RESET
=============*/

/*==========
  GENERAL
=============*/
:root {
  --orange: #fb8500;
  --yellow: #ffb703;
  --white: #fff8f0;
  --lighter-blue: #8ecae65d;
  --light-blue: #8ecae6;
  --blue: #219ebc;
  --dark-blue: #023047;
}

.main-container {
  width: 95%;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {
  object-fit: cover;
}

/* buttons */
.btn-dark {
  padding: 0.5em 1em;
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 25px;
  transition: 0.3s ease all;
}
.btn-dark:hover {
  background: var(--yellow);
  color: var(--dark-blue);
}
/* anchor tags */
a {
  text-decoration: none;
}
/*==========
  GENERAL
=============*/
/*==========
  TYPOGRAPHY
=============*/
body {
  /* font weight: 300, 400, 700, 900 */
  font-family: 'Roboto', sans-serif;
}

header nav ul li a {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue);
}
/*==========
  TYPOGRAPHY
=============*/

/*==========
  LAYOUT
=============*/
/** NAV BAR **/
#desktop-nav {
  display: none;
}
#mobile-nav-bar {
  background-color: var(--white);
  padding: 1em 0;
}

#mobile-nav-links {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in all;
}

#mobile-nav-links.active {
  height: 180px;
}

#mobile-nav-links li {
  margin-bottom: 1em;
  text-align: center;
}
/** NAV BAR **/

#hero {
  position: relative;
  background-color: lightblue;
  min-height: 500px;
}

.custom-shape-divider-bottom-1609889842 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609889842 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1609889842 .shape-fill {
  fill: #ffffff;
}
/*==========
  LAYOUT
=============*/

/*==========
  COMPONENTS
=============*/
/*** NAV BAR ***/
.brand-logo-container {
  width: 70px;
}
/* ham bar */
.hamburger {
  width: 50px;
  height: 50px;
}

.hamburger .bar {
  height: 3px;
  width: 30px;
  position: relative;
  background-color: black;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

/* Positions the top and bottom bars for ham menu */
.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}
/* Active state. Top and bottom bars disappear  */
.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}
/* ham bar */
/*** NAV BAR ***/

/*==========
  COMPONENTS
=============*/

/*============
  MEDIA QUERY
==============*/
@media screen and (min-width: 640px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  /*** NAV BAR ***/
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }

  header nav ul li a {
    font-size: 1rem;
  }

  .brand-name-container,
  #desktop-nav-right li:first-child {
    margin-right: 1em;
  }

  /* select all list elements except brand name */
  #desktop-nav-left li:not(:first-child) a,
  #desktop-nav-right li:not(:last-child) a {
    padding: 0.5em;
    border-radius: 25px;
    transition: 0.3s ease all;
  }

  #desktop-nav-left li:not(:first-child) a:hover,
  #desktop-nav-right li:not(:last-child) a:hover {
    background: var(--lighter-blue);
  }

  .brand-name-container {
    width: 150px;
  }

  /*** NAV BAR ***/
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1536px) {
}
/*============
  MEDIA QUERY
==============*/
