/*==========
  CSS RESET
=============*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*==========
  CSS RESET
=============*/

/*==========
  GENERAL
=============*/
:root {
  --orange: #fb8500;
  --yellow: #ffb703;
  --white: #fff8f0;
  --lighter-blue: #8ecae65d;
  --light-blue: #8ecae6;
  --blue: #219ebc;
  --dark-blue: #023047;
}
html {
  scroll-behavior: smooth;
}
.main-container {
  width: 95%;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {
  object-fit: cover;
}

/* buttons */
.btn-dark {
  padding: 0.5em 1em;
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 25px;
  transition: 0.3s ease all;
  cursor: pointer;
}
.btn-dark:hover {
  background: var(--orange);
}

.btn-light {
  padding: 0.5em 1em;
  background: var(--orange);
  color: var(--white);
  border-radius: 25px;
  transition: 0.3s ease all;
  cursor: pointer;
}
.btn-light:hover {
  background: var(--dark-blue);
}
/* buttons */

/* anchor tags */
a {
  text-decoration: none;
}
/* anchor tags */

/* screen reader only */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* screen reader only */

/* fade in on scroll */
.fadeOutRight {
  transition: 0.8s ease-in-out all;
  transform: translateX(60px);
  opacity: 0;
}
.fadeInLeft {
  transform: translateX(0px);
  opacity: 1;
}
.fadeOutLeft {
  transition: 0.8s ease-in-out all;
  transform: translateX(-60px);
  opacity: 0;
}
.fadeInRight {
  transform: translateX(0px);
  opacity: 1;
}
.fadeOutDown {
  transition: 0.8s ease-in-out all;
  transform: translateY(60px);
  opacity: 0;
}
.fadeInUp {
  transform: translateY(0px);
  opacity: 1;
}
/* fade in on scroll */
/*==========
  GENERAL
=============*/
/*==========
  TYPOGRAPHY
=============*/
/** GENERAL **/
body {
  /* font weight: 300, 400, 700, 900 */
  font-family: 'Roboto', sans-serif;
}
.brand-logo {
  font-family: 'Lobster', cursive;
  color: var(--light-blue);
  font-size: 2rem;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 1em;
}
/** GENERAL **/

/** HEADER **/
header nav ul li a {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--dark-blue);
}
/** HEADER **/

/** HERO **/
.hero-container .hero-title,
.hero-container a {
  color: var(--white);
}

.hero-title {
  font-size: 2.75rem;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--white);
}

.hero-btn-wrapper {
  font-size: 1.5rem;
}
/** HERO **/

/** ACTIVITIES/CABINS/FOOTER **/
.activity-text h2,
.cabin-text h2,
.footer-item h4 {
  font-size: 1.25rem;
  color: var(--dark-blue);
  font-weight: 700;
}
.activity-text p,
.cabin-text p {
  line-height: 1.5;
  color: rgb(82, 82, 82);
}
.cabin-price {
  color: var(--dark-blue);
  font-weight: 700;
}

.activity-text-reverse {
  text-align: right;
}
/** ACTIVITIES/CABINS/FOOTER **/

/** CONTACT **/
input[type='submit'] {
  font-size: 1rem;
}

::placeholder {
  color: var(--dark-blue);
  font-family: 'Roboto', sans-serif;
}

input {
  font-size: 1rem;
}

.first-name-error,
.last-name-error,
.email-error,
.phone-error,
.state-error {
  text-transform: uppercase;
  color: rgb(230, 53, 53);
}
/** CONTACT **/

/** FOOTER **/
.footer-item a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-blue);
  transition: 0.3s ease all;
}
.footer-item a:hover {
  color: #02304794;
}
/** FOOTER **/
/*==========
  TYPOGRAPHY
=============*/

/*==========
  LAYOUT
=============*/
/** GENERAL LAYOUT **/
#hero {
  margin-bottom: 1.5em;
}
#cabins,
#contact {
  margin-bottom: 6em;
}
/** GENERAL LAYOUT **/

/** NAV BAR **/
#desktop-nav {
  display: none;
}
#mobile-nav-bar {
  background-color: var(--white);
  padding: 1em 0;
}

#mobile-nav-links {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in all;
}

#mobile-nav-links.active {
  height: 180px;
}

#mobile-nav-links li {
  margin-bottom: 1em;
  text-align: center;
}
/** NAV BAR **/

/** HERO **/
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(90vh - 90.97px);
}

.hero-title {
  margin-bottom: 0.25em;
}
.hero-subtitle {
  margin-bottom: 2em;
}
/** HERO **/

/** ACTIVITY **/
.activity-container {
  margin-bottom: 6em;
}
.activity-text {
  margin-bottom: 1em;
}
.activity-text h2 {
  margin-bottom: 0.5em;
}
/** ACTIVITY **/

/** CABINS **/
.cabin-btn-container {
  width: 200px;
  margin: 0 auto 3rem;
}
/** CABINS **/

/** CONTACT **/
input,
fieldset {
  margin-bottom: 1.5em;
}
/** CONTACT **/

/** FOOTER **/
#footer {
  padding-top: 4rem;
}

.footer-item {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-item h4,
.footer-item a {
  margin-bottom: 0.5em;
}
/** FOOTER **/
/*==========
  LAYOUT
=============*/

/*==========
  COMPONENTS
=============*/
/*** NAV BAR ***/
.brand-logo-container {
  width: 70px;
}
/* ham bar */
.hamburger {
  width: 50px;
  height: 50px;
}

.hamburger .bar {
  height: 3px;
  width: 30px;
  position: relative;
  background-color: black;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

/* Positions the top and bottom bars for ham menu */
.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}
/* Active state. Top and bottom bars disappear  */
.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}
/* ham bar */
/*** NAV BAR ***/

/*** HERO ***/
#hero {
  position: relative;
  background: rgb(108, 108, 108);
  /* background fallback */
  background-image: url(./assets/hero-img.jpg);
  background-image: linear-gradient(
      180deg,
      rgba(2, 48, 71, 0.8) 0%,
      rgba(99, 143, 163, 0.55) 70%,
      rgba(251, 133, 0, 0.35) 100%
    ),
    url(./assets/hero-img.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: calc(90vh - 90.97px);
}

/* wave border */
.custom-shape-divider-bottom-1609889842 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609889842 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1609889842 .shape-fill {
  fill: #ffffff;
}
/* wave border */
/*** HERO ***/

/*** ACTIVITIES ***/
.activity-image-container {
  position: relative;
}
.activity-img {
  display: block;
  margin: auto;
  width: 65%;
  border-radius: 10px;
  overflow: hidden;
}
.activity-btn {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}
.activity-shape {
  position: absolute;
  z-index: -1;
  top: 85%;
  left: 50%;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  transform: skew(5deg, 5deg) translate(-50%, -50%);
}
.activity-shape-reverse {
  position: absolute;
  z-index: -1;
  top: 70%;
  left: 50%;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  transform: skew(-5deg, -5deg) translate(-50%, -50%);
}

/* shape colors */
.activity-shape-orange {
  background: var(--orange);
}
.activity-shape-blue {
  background: var(--blue);
}
.activity-shape-yellow {
  background: var(--yellow);
}
/* shape colors */
/*** ACTIVITIES ***/

/*** CABINS ***/
.cabin-card {
  width: 80%;
  margin: 0 auto 2em;
  background: var(--light-blue);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -2px #9b9b9b;
  transition: 0.3s ease-out all;
  cursor: pointer;
}

.cabin-card:hover {
  transform: translateY(-12px) scale(1.01);
  box-shadow: 0px 10px 15px 4px #9b9b9b;
}
.cabin-text {
  padding: 1em;
}

.cabin-text h2 {
  margin-bottom: 0.5em;
}

.cabin-text p {
  margin-bottom: 0.5em;
}

/* tilt border */
#cabins {
  position: relative;
  padding: 1em 0 4.5em;
  background: var(--lighter-blue);
}
.custom-shape-divider-bottom-1609986637 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1609986637 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1609986637 .shape-fill {
  fill: #ffffff;
}
/*** CABINS ***/
/*** CONTACT ***/
input {
  width: 100%;
}

input[type='text'],
input[type='tel'] {
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  padding-top: 1em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input[type='submit'] {
  border-radius: 20px;
  padding: 0.5em 1em;
  border: none;
  background: var(--orange);
  color: var(--white);
}

select {
  border: 1px solid var(--dark-blue);
  padding: 0.5em;
}

input[type='text']:focus,
input[type='tel']:focus,
select:focus {
  box-shadow: 0 0 5px 2px var(--light-blue);
  outline: 1px solid var(--light-blue);
}

/*** CONTACT ***/

/*** FOOTER ***/
.full-brand-container {
  width: 150px;
}
#footer {
  position: relative;
  min-height: 600px;
  background: var(--light-blue);
}
.custom-shape-divider-top-1610000651 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610000651 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 111px;
}

.custom-shape-divider-top-1610000651 .shape-fill {
  fill: #ffffff;
}
/*** FOOTER ***/
/*==========
  COMPONENTS
=============*/

/*============
  MEDIA QUERY
==============*/
@media screen and (min-width: 640px) {
  .main-container {
    width: 90%;
  }

  /*** ACTIVITIES ***/
  .activity-container {
    margin-bottom: 7.5em;
  }
  /*** ACTIVITIES ***/

  /*** FOOTER ***/
  #footer {
    min-height: 200px;
    padding-top: 6em;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*** FOOTER ***/
}

@media screen and (min-width: 768px) {
  /*** NAV BAR ***/
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    /* place nav on top of hero background */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 1em 0;
    border-bottom: 0.25px solid #fff8f094;
    transform: translateX(-50%);
    width: 100%;
    transition: 0.3s ease-out all;
  }

  header nav ul li a {
    font-size: 1rem;
    color: var(--white);
  }

  .brand-name-container,
  #desktop-nav-right li:first-child {
    margin-right: 1em;
  }

  /* select all list elements except brand name */
  #desktop-nav-left li:not(:first-child) a,
  #desktop-nav-right li:not(:last-child) a {
    padding: 0.5em;
    border-radius: 25px;
    transition: 0.3s ease all;
  }

  #desktop-nav-left li:not(:first-child) a:hover,
  #desktop-nav-right li:not(:last-child) a:hover {
    background: var(--lighter-blue);
  }
  /*** NAV BAR ***/

  /*** HERO ***/
  #hero {
    min-height: 90vh;
  }

  /* fix hero background sticking out from wave border */
  .custom-shape-divider-bottom-1609889842 {
    bottom: -2px;
  }
  /*** HERO ***/

  /*** ACTIVITY ***/
  .activity-text,
  .activity-image-container {
    width: 47%;
  }
  .activity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .activity-container-reverse {
    flex-direction: row-reverse;
  }
  /*** ACTIVITY ***/
}

@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 3rem;
  }
  /*** HERO ***/
  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }

  .hero-btn-wrapper {
    font-size: 1.75rem;
  }

  .hero-btn-wrapper a {
    border-radius: 40px;
  }

  /*** HERO ***/

  /** Activity **/
  .activity-container {
    margin-bottom: 9rem;
  }
  .activity-text h2,
  .cabin-text h2 {
    font-size: 2rem;
  }
  .activity-text p,
  .activity-text p {
    font-size: 1.5rem;
  }
  /** Activity **/

  /*** CABINS ***/
  .cabin-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cabin-card {
    width: 30%;
  }
  /*** CABINS ***/

  /*** CONTACT ***/
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-text,
  #contact-form {
    width: 47%;
    max-width: 800px;
  }
  /*** CONTACT ***/

  /** FOOTER **/
  #footer {
    padding-top: 7em;
  }
  .footer-item h4 {
    font-size: 2rem;
  }
  .footer-item a,
  .footer-item p {
    font-size: 1.25rem;
  }
  /** FOOTER **/
}

@media screen and (min-width: 1280px) {
  .main-container {
    width: 80%;
  }

  header nav ul li a {
    font-size: 1.25rem;
  }
  /** Activity **/
  .activity-btn {
    font-size: 1.5rem;
  }
  /** Activity **/

  /** FOOTER **/
  #footer {
    padding-top: 9em;
  }
  /** FOOTER **/
}

@media screen and (min-width: 1536px) {
  .main-container {
    width: 70%;
    max-width: 1400px;
  }

  /** FOOTER **/
  #footer {
    padding-top: 25vh;
  }
  /** FOOTER **/
}
/*============
  MEDIA QUERY
==============*/
