/*==========
  CSS RESET
=============*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*==========
  CSS RESET
=============*/

/*==========
  GENERAL
=============*/
:root {
  --orange: #fb8500;
  --yellow: #ffb703;
  --white: #fff8f0;
  --lighter-blue: #8ecae65d;
  --light-blue: #8ecae6;
  --blue: #219ebc;
  --dark-blue: #023047;
}
html {
  scroll-behavior: smooth;
}
.main-container {
  width: 95%;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {
  object-fit: cover;
}

/* buttons */
.btn-dark {
  padding: 0.5em 1em;
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 25px;
  transition: 0.3s ease all;
}
.btn-dark:hover {
  background: var(--orange);
}

.btn-light {
  padding: 0.5em 1em;
  background: var(--orange);
  color: var(--white);
  border-radius: 25px;
  transition: 0.3s ease all;
}
.btn-light:hover {
  background: var(--dark-blue);
}
/* buttons */

/* anchor tags */
a {
  text-decoration: none;
}
/* anchor tags */
/*==========
  GENERAL
=============*/
/*==========
  TYPOGRAPHY
=============*/
/** GENERAL **/
body {
  /* font weight: 300, 400, 700, 900 */
  font-family: 'Roboto', sans-serif;
}
.brand-logo {
  font-family: 'Lobster', cursive;
  color: var(--light-blue);
  font-size: 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: var(--dark-blue);
  text-align: center;
}
/** GENERAL **/

/** HEADER **/
header nav ul li a {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--dark-blue);
}
/** HEADER **/

/** HERO **/
.hero-container .hero-title,
.hero-container a {
  color: var(--white);
}

.hero-title {
  font-size: 2.75rem;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--white);
}

.hero-btn-wrapper {
  font-size: 1.5rem;
}
/** HERO **/

/** ACTIVITIES **/

/** ACTIVITIES **/
/*==========
  TYPOGRAPHY
=============*/

/*==========
  LAYOUT
=============*/
/** NAV BAR **/
#desktop-nav {
  display: none;
}
#mobile-nav-bar {
  background-color: var(--white);
  padding: 1em 0;
}

#mobile-nav-links {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in all;
}

#mobile-nav-links.active {
  height: 180px;
}

#mobile-nav-links li {
  margin-bottom: 1em;
  text-align: center;
}
/** NAV BAR **/

/** HERO **/
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(90vh - 90.97px);
}

.hero-title {
  margin-bottom: 0.25em;
}
.hero-subtitle {
  margin-bottom: 2em;
}
/** HERO **/
/*==========
  LAYOUT
=============*/

/*==========
  COMPONENTS
=============*/
/*** NAV BAR ***/
.brand-logo-container {
  width: 70px;
}
/* ham bar */
.hamburger {
  width: 50px;
  height: 50px;
}

.hamburger .bar {
  height: 3px;
  width: 30px;
  position: relative;
  background-color: black;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

/* Positions the top and bottom bars for ham menu */
.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}
/* Active state. Top and bottom bars disappear  */
.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}
/* ham bar */
/*** NAV BAR ***/

/*** HERO ***/
#hero {
  position: relative;
  background: rgb(108, 108, 108);
  /* background fallback */
  background-image: url(./assets/hero-img.jpg);
  background-image: linear-gradient(
      180deg,
      rgba(2, 48, 71, 0.8) 0%,
      rgba(99, 143, 163, 0.55) 70%,
      rgba(251, 133, 0, 0.35) 100%
    ),
    url(./assets/hero-img.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: calc(90vh - 90.97px);
}

/* wave border */
.custom-shape-divider-bottom-1609889842 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609889842 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1609889842 .shape-fill {
  fill: #ffffff;
}
/* wave border */
/*** HERO ***/

/*** ACTIVITIES ***/
.activity-shape {
  width: 100px;
  height: 100px;
  background: var(--blue);
  border-radius: 10px;
  transform: skew(10deg, 10deg);
}
/*** ACTIVITIES ***/
/*==========
  COMPONENTS
=============*/

/*============
  MEDIA QUERY
==============*/
@media screen and (min-width: 640px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  /*** NAV BAR ***/
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    /* place nav on top of hero background */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 1em 0;
    border-bottom: 0.25px solid #fff8f094;
    transform: translateX(-50%);
  }

  header nav ul li a {
    font-size: 1rem;
    color: var(--white);
  }

  .brand-name-container,
  #desktop-nav-right li:first-child {
    margin-right: 1em;
  }

  /* select all list elements except brand name */
  #desktop-nav-left li:not(:first-child) a,
  #desktop-nav-right li:not(:last-child) a {
    padding: 0.5em;
    border-radius: 25px;
    transition: 0.3s ease all;
  }

  #desktop-nav-left li:not(:first-child) a:hover,
  #desktop-nav-right li:not(:last-child) a:hover {
    background: var(--lighter-blue);
  }
  /*** NAV BAR ***/

  /*** HERO ***/
  #hero {
    min-height: 90vh;
  }

  /* fix hero background sticking out from wave border */
  .custom-shape-divider-bottom-1609889842 {
    bottom: -2px;
  }
  /*** HERO ***/
}

@media screen and (min-width: 1024px) {
  /*** HERO ***/
  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }

  .hero-btn-wrapper {
    font-size: 1.75rem;
  }

  .hero-btn-wrapper a {
    border-radius: 40px;
  }

  /*** HERO ***/
}

@media screen and (min-width: 1280px) {
  .main-container {
    width: 80%;
  }

  header nav ul li a {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1536px) {
}
/*============
  MEDIA QUERY
==============*/
